<%-include("../partials/head")%>
    <title> Todo los clientes</title>
  </head>
  <body>
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
    <%-include("../partials/sideBar")%>
    <main class="page-content">
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
              Informacion del cliente
            </div>
            <div class="card-body">
                <div>
                    <span>Nombre</span><span><%=cliente.name%></span>
                </div>
                <div>
                    <span>appellido</span><span><%=cliente.appellido%></span>
                </div>
                <div>
                    <span>Telefono</span><span><%=cliente.telefono%></span>
                </div>
                <div>
                    <span>Ciudad</span><span></span>
                </div>
                <div>
                    <span></span><span></span>
                </div>


            </div>
            <div class="card-footer d-flex justify-content-around">
             <a href="/loan/new/<%cliente._id%>" class="btn btn-primary">Nuevo prestamo</a>
             <a href="/client/edit/<%cliente._id%>" class="btn btn-warning">Modificar</a>
             
            </div>
          </div>
    </div>
           
                
  </main>
</div>

  </body>
</html>
