<%-include("../partials/head")%>
    <title> Todo los clientes</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="my-4 py-4">
        <div class="row mb-0">
          <div class="col-md-4 offset-md-8 ">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </div>
            
            <input placeholder="Buscar ..." type="text" class="form-control" />
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card bg-transparent mb-5">
        <div class="card-header">
          <div class="d-flex">
            <h4 class="text-muted">Lista de clientes</h4>
            <span class="ml-auto">
              <a href="/client/new" class="btn btn-sm btn-outline-info">
                Crear nuevo client
              </a>
            </span>
          </div>
        </div>
        <div class="bg-transparent">
        <div class="table-responsive-sm">
          <table class="my-0 table table-bordered table-responsive-md">
            <thead class="thead-dark">
              <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Domicilio</th>
                <th>Ciudad</th>
                <th>Ref Dirreccion</th>
                <th>Telefono</th>
                <th>Actiones</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <% clients.forEach(client=>{%>

              <tr>
                <td><%=client.name + " " + client.apellido %></td>
                <td><%=client.cedula %></td>
                <td><%=client.dirreccion %></td>
                <td><%=client.ciudad %></td>
                <td><%=client.ciudad %></td>
                <td><%=client.telefono %></td>
                <td>
                  <a
                    href="/client/<%=client._id %>"
                    class="btn btn-sm btn-outline-info mr-2 "
                  >
                    Ver
                  </a>
                  <a
                    class="btn btn-sm btn-outline-warning mr-2 "
                    href="</client/edit/%= client._id %>"
                  >
                    Modificar
                  </a>
                </td>
              </tr>

              <% })%>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
